---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
<section class="main-content">

<h2>第三届“向组织揩油”综合活动说明</h2>
</hr>

<blockquote>
<p>时光荏苒、流年似水，岁月如梭，光阴似箭</p>
</blockquote>

<p>转瞬间，2016年的脚步声已经越来越响了，很多伙伴在朋友圈中开始发布”<strong>距离2016年只剩XX天</strong>”的图片了，仿佛瞬间就要迈入新的一年了。新旧交替之际，不知道年初您许下的梦想实现了么、期待的成绩取得了么、设定的目标达成了么？无论过得怎么样，酸甜苦辣、喜怒哀乐，这一切都在过去，而梳理2015年全年过得如何、2016年应该如何百尺竿头更进一步，正在逐渐成为我们当下最为重要的主题。</p>

<p>但是，在回首过去、展望未来之际，我们却总是会被这样的怪兽拦住：</p>

<ul>
<li>年初没有制定目标，全年得过且过，回首时却不知道如何总结；</li>
<li>虽然也有一些目标，可是过程中总是中断，没有最终达成；</li>
<li>偶尔有力量去成长，但是热情只有几天的时间，很快被打回原形；</li>
<li>期待能够重新来过，不过自己孤身一人，没有方法、缺失力量；</li>
</ul>

<p>这些情况反复出现，让每个期待成长的人们深陷在郁闷和苦恼之中不得解脱，放慢了成长的脚步、降低了幸福的感受。</p>

<p><strong>配图</strong></p>

<p>幸福进化俱乐部™是一个帮助职场人士实现快速发展的社会化学习性平台，每年年终，共同进行<strong>个人年度目标制定</strong>的学习和实操是每个成员必选的重头戏，其中的代表活动——<strong>向组织揩油</strong>，也成为所有会员企盼的核心活动。该活动主要帮助Up+们确定自身定位、梳理核心资源、制定合理目标并分解任务来确保目标的达成。2015年的向组织揩油根据俱乐部会员的反馈，在往年成功经验的基础上，进行了更接地气的改进和优化，主要体现在：

<ul>
<ol>更加精准，集中力量解决目标制定问题；</ol>
<ol>活动丰富，不再是孤零零的一次课程，而是为期进一个月的综合活动。</ol>
<ol>更重实践，理论打底。提供简单却有效的工具来帮助您确保完成年度目标。</ol>
</ul>

<p>我们的活动有以下内容：</p>

<ul>
<li>24日周二，第二期向组织揩油优秀学员分析。</li>
<li>25日周三，易仁永澄老师带来分享：为什么你的年计划都白做了？</li>
<li>26日周四，药山老师带来分享：在年计划指导下的一年的收获</li>
<li>28日周六，年回顾究竟如何做？</li>
<li>30日周一，俱乐部“定位”活动研讨会。</li>
<li>2日周三，上海幸福进化俱乐部年目标分享会。</li>
<li>4日周五，书写年底目标制定保证书，进行签约。</li>
<li>6日上午，年度目标制定理论知识串讲。</li>
<li>6日下午，实操-01。</li>
<li>8日晚上，答疑会。</li>
<li>10日晚上，答疑会。</li>
<li>13日上午，实操-02</li>
<li>13日下午，实操-03</li>
<li>15日，答疑会</li>
<li>17日，答疑会</li>
<li>27日，年度目标制定表彰大会暨全年目标达成计划启动。</li>
<li>28日以后，持续跟踪，定期答疑。</li>
</ul>

<p>此外，除了以上集中的活动，我们在俱乐部社群内下午16:30会开展多场关于年目标制定的讨论会，欢迎您参加。
在整个活动过程中，我们讲推出多项福利措施，请随时关注我们的微信公众号，QQ群，获取相应的福利机会。</p>
</div>
</div>
