---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
<section class="main-content">

<h2>第三届“向组织揩油”综合活动说明</h2>
<blockquote>
<p>时光荏苒、流年似水，岁月如梭，光阴似箭</p>
</blockquote>

<p>转瞬间，2016年的脚步声已经越来越响了，很多伙伴在朋友圈中开始发布”<strong>距离2016年只剩XX天</strong>”的图片了，仿佛瞬间就要迈入新的一年了。新旧交替之际，不知道年初您许下的梦想实现了么、期待的成绩取得了么、设定的目标达成了么？无论过得怎么样，酸甜苦辣、喜怒哀乐，这一切都在过去，而梳理2015年全年过得如何、2016年应该如何百尺竿头更进一步，正在逐渐成为我们当下最为重要的主题。</p>

<p>但是，在回首过去、展望未来之际，我们却总是会被这样的怪兽拦住：</p>

<ul>
<li>年初没有制定目标，全年得过且过，回首时不知道如何总结；</li>
<li>虽然也有一些目标，但执行过程中总是中断，没有最终达成；</li>
<li>偶尔有力量去成长，但是热情只有几天的时间，很快被打回原形；</li>
<li>期待能够重新来过，不过自己孤身一人，没有方法、缺失力量；</li>
</ul>

<p>这些情况反复出现，让每个期待成长的人们深陷在郁闷和苦恼之中不得解脱，放慢了成长的脚步、降低了幸福的感受。</p>

<p>幸福进化俱乐部™是一个帮助职场人士实现快速发展的社会化学习性平台，每年年终，共同进行<strong>个人年度目标制定</strong>的学习和实操是每个成员必选的重头戏，其中的代表活动——<strong>向组织揩油</strong>，也成为所有会员企盼的核心活动。该活动主要帮助Up+们确定自身定位、梳理核心资源、制定合理目标并分解任务来确保目标的达成。</p>



<p><img src="http://77fm42.com1.z0.glb.clouddn.com/web-upwithme.png" /></p>

<p>根据俱乐部会员的反馈，2015年的向组织揩油在往年成功经验的基础上，进行了更接地气的改进和优化，主要体现在：

<ul>
<li><strong>更加精准</strong>，集中力量解决会员年度目标制定问题；</li>
<li><strong>活动丰富</strong>，将进行为期近一个月共17项成长活动；</li>
<li><strong>更重实践</strong>，提供简单有效的工具确保年度目标完成。</li>
</ul>
</p>

<p>我们的活动有以下内容：</p>

<ul>
<li>11月24日 | 周二：年度计划推进的经验及感受 @陈艺文</li>
<li>11月25日 | 周三：为什么你的年计划一定会失败 @易仁永澄</li>
<li>11月26日 | 周四：在年目标指导下的一年收获 @药山</li>
<li>11月27日 | 周五：社群讨论：我是如何分类的 @马琦</li>
<li>11月28日 | <strong>周六：如何进行年度回顾 @易仁永澄</strong></li>
<li>11月30日 | 周一：社群讨论：如何找到自己的定位 @志勇</li>
<li>12月02日 | 周三：集体分享：我们一起玩年度目标 @上海幸福进化俱乐部</li>
<li>12月03日 | 周四：社群讨论：价值观主题讨论 @马琦</li>
<li>【今天】--> 12月04日 | 周五：课程活动启动宣讲会</li>
<li>12月06日 | 周日：年度目标制定串讲会 @易仁永澄</li>
<li>12月06日 | <strong>周日：年度目标制定实操及指导-01 @易仁永澄</strong></li>
<li>12月08日 | 周二：年度目标制定答疑会 @易仁永澄</li>
<li>12月10日 | 周四：年度目标制定答疑会 @易仁永澄</li>
<li>12月13日 | <strong>周日：年度目标制定实操及指导-02 @易仁永澄</strong></li>
<li>12月15日 | 周二：年度目标制定答疑会 @易仁永澄</li>
<li>12月17日 | 周四：年度目标制定答疑会 @易仁永澄</li>
<li>12月27日 | 周日：年度目标制定表彰大会暨全年目标达成计划启动 @易仁永澄</li>
</ul>

<p>活动的具体举办时间、地点以及已完成活动的相关资料，请您点击：《<a href="http://nianmubiao.com/intro/2015/11/24/Detail-of-the-whole-party.html" target="_blank">第三届向组织揩油综合活动详细说明</a>》查看详情。</p>

<img src="http://77fm42.com1.z0.glb.clouddn.com/web-arr.png" />

此外，列表中加粗部分的“如何进行年度回顾”、“年度目标制定实操及指导”部分可能涉及费用，请您移步至导航条的“<a href="http://nianmubiao.com/lesson/">课程介绍</a>”页面查看详情，并选择相应的通道报名参加该活动。

<hr />

<h2>举办组织说明</h2>

<p>本次活动由幸福进化俱乐部管理层发起，各地线下组织配合参与，具体名单如下：</p>

<ul>
<li>B-北京幸福进化俱乐部</li>
<li>C-长沙幸福进化俱乐部</li>
<li>G-广州幸福进化俱乐部</li>
<li>H-杭州幸福进化俱乐部</li>
<li>J-济南幸福进化俱乐部</li>
<li>K-昆明幸福进化俱乐部</li>
<li>N-南宁幸福进化俱乐部</li>
<li>S-上海幸福进化俱乐部</li>
<li>S-深圳幸福进化俱乐部</li>
<li>S-苏州幸福进化俱乐部</li>
<li>Z-郑州幸福进化俱乐部</li>
</ul>
<p>更多线下组织的相关信息，请移步：<a href="http://nianmubiao.com/offline/">线下参与</a>页面</p>
</div>
</div>
