<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <!--
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
          {% if page.title and page.main_nav != false %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}" target="_blank">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  -->
  <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="http://nianmubiao.com/activity/" target="_blank">活动详情</a>
         <!-- <li class="nav-link"><a href="http://nianmubiao.com/lesson/" target="_blank">课程介绍</a> -->
          <li class="nav-link"><a href="http://nianmubiao.com/enroll/">课程报名</a>
          <li class="nav-link"><a href="http://nianmubiao.com/djq/">代金礼券</a>
          <li class="nav-link"><a href="http://nianmubiao.com/offline/" target="_blank">线下参与</a>
          <li class="nav-link"><a href="http://nianmubiao.com/group/" target="_blank">分组信息</a>
          <li class="nav-link"><a href="http://nianmubiao.com/qanda/" target="_blank">常见问题</a>
      </ul>
    </nav>

  </div>
</header>
